# Better Auth Use the command below to init the prisma schema with better auth
# @better-auth/cli@latest generate --config server/utils/auth.ts
BETTER_AUTH_URL=http://localhost:3000
# Generate a secret from `https://www.better-auth.com/docs/installation`
BETTER_AUTH_SECRET=replace-with-32+-char-high-entropy-secret

# Prisma
# Setup for Prisma Postgress `https://www.prisma.io/postgres` 5 free db's
# However any postgres db is fine `PlanetScale` is also a good option
DATABASE_URL=postgresql://user:pass@localhost:5432/db

# Resend `https://resend.com/` you get 2000 free email sends per month
RESEND_API_KEY=re_...
RESEND_FROM="Your App <auth@yourdomain.com>"

# OAuth (optional; app still runs without these)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github Oauth (optional; app still runs without these)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
